<md-card>
  <h2>My Heroes</h2>

  <ul class="heroes">

    <div>
      <md-input-container>
        <input mdInput placeholder="Hero name" #heroName >
      </md-input-container>

      <button md-raised-button color="accent" (click)="add(heroName.value); heroName.value=''" >
        Add
      </button>
    </div>


    <table class="mdl-data-table">
      <thead>
        <tr>
          <th><md-checkbox  ></md-checkbox></th>
          <th class="non-numeric">Hero name</th><th>Action</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let hero of heroes">
          <td><md-checkbox  ></md-checkbox></td>
          <td class="non-numeric">{{hero.name}}</td>
          <td class="icon center">
            <a (click)="delete(hero); $event.stopPropagation()">
            <md-icon class="md-18" color="warn" >delete</md-icon> </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="selectedHero">
    <h2>
      {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">View Details</button>
  </div>

  </ul>
</md-card>
